<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskebyen</title>
</head>
<body>
<div id="mainbox">

    <div id="headerbox">
    <div class="headerboxleft">

    </div>
        <div id="headerboxright">
            <div class="dropdown">
                <button class>Wish selection</button>
            </div>

            <div class="dropdown1">
                <button class>Create user</button>
            </div>

            <div class="dropdown2">
                <button class>Wanna know more <3</button>
            </div>

        </div>
    </div>

    <div id="middlebigbox">
        <div id="middlebigboxleft">
            <div id="middlebigboxlefttop"></div>
            <div id="middlebigboxleftmiddle"></div>
            <div id="middlebigboxleftbottom">
                <button class>sign op</button>
            </div>
        </div>
        <div id="middlebigboxright">
            <div id="middlebigboxrighttekst">
                <div id="firstcommercialtekst"></div>
                <div id="secondcommercialtekst"></div>
                <div id="thirdcommercialtekst"></div>
            </div>
        </div>
    </div>
    <div id="secMiddleBigbox">
        <div id="sectekstone"></div>
        <div id="secteksttwo"></div>
        <div id="sectekstthree">
            <button class="secmiddleboxbutton">sign up</button>
        </div>
    </div>
    <div id="tekstthirdmiddle">

    </div>
    <div id="fourthpic">

    </div>
    <div id="fourthkasseright">
        <div id="fourthtekstone"></div>
        <div id="fourthteksttwo"></div>
    </div>
    <div></div>
    <div fifthkasseleft>
        <div id="fifthtekstone"></div>
        <div id="fifthteksttwo"></div>
    </div>

</div>

</body>
</html>